body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66bfbf;
  /* color: #4fbdba; */
}

.title h2 {
  /* color: #072227; */
  font-size: 2.5rem;
  font-weight: 400;
}

h3,
a {
  color: #11999e;
}

h2 {
  color: #66bfbf;
  font-size: 2rem;
}

.top {
  height: 100vh;
  position: relative;
  background-color: #eaf6f6;
  margin-bottom: 100px;
}

.title {
  position: absolute;
  top: calc(calc(calc(100vh - 357px) / 2) + 120px);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mountain {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

.middle {
  width: 200px;
  height: 200px;
  background: red;
}

.bottom {
  width: 200px;
  height: 200px;
  background: blue;
}

.bottom-cloud,
.top-cloud {
  position: absolute;
}

.bottom-cloud {
  left: calc(-150px - 10px);
  bottom: calc(-48px - 10px);
}

.top-cloud {
  right: calc(-150px - 10px);
  top: calc(-48px - 10px);
}

.profile-photo {
  width: 200px;
}

hr {
  border-style: dotted none none none;
  border-width: 10px;
  width: 10%;
  border-color: #d0e0e0;
}

.profile {
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}

.profile p {
  margin-top: 30px;
}

.webdev,
.hacking {
  width: 25%;
}

.webdev {
  float: left;
  margin-right: 30px;
}

.hacking {
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.margin-container {
  margin-bottom: 100px;
  margin-top: 100px;
}

.contact-me {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  line-height: 2;
}

.btn {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
  background: linear-gradient(0deg, #11999e, #66bfbf);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

.btn:hover {
  background: linear-gradient(0deg, #18b9be, #7fdfdf);
}

.bottom-container {
  margin-top: 100px;
  background: #66bfbf;
  padding: 25px;
  line-height: 2;
}

.bottom-container a {
  text-decoration: none;
  color: #11999e;
  font-weight: 700;
  margin-right: 20px;
  margin-left: 20px;
}

.bottom-container a:hover {
  color: #1c6568;
}

.bottom-container p {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}

.first-hr {
  margin-bottom: 50px;
}

.second-hr {
  margin-top: 50px;
}
